
/* utility classes */
.display-none {
    display: none;
}
.col-padding {
    padding: 0px 48px;
}

/* mobile styles */
* {
    font-family: "Source Sans Pro", san-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
    line-height: 2rem;
    height: 100%;
}
nav {
    padding: 32px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}
section .left {
   display: flex; 
   flex-direction: column;
   gap: 2em;
}
header {
    font-size: 1.1em;
}
.left button {
    width: 85%;
    height: 3em;
    border: 0px solid;
    background-color: rgb(35, 120, 248);
    border-radius: 0.8em;
    color: white;
    font: 0.9em sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    padding: 0px;
    margin-bottom: 2em;
}

.bubble {
    display: inline-flex;
    flex-direction: row;
    position: absolute;
    z-index: -100;
}
.blue {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    background: rgb(190,210,242);
    background: linear-gradient(90deg, rgba(190,210,242,1) 0%, rgba(190,211,242,1) 0%, rgba(207,196,244,1) 100%);
    position: absolute;
    left: 5px;
    top: -10px;
}
.purple {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background: rgb(190,210,242);
    background: linear-gradient(90deg, rgba(190,210,242,1) 0%, rgba(190,211,242,1) 0%, rgba(207,196,244,1) 100%);
    position: absolute;
    left: 14px;
    top: 106px;
}
.green {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    background: rgb(190,210,242);
    background: linear-gradient(90deg, rgba(190,210,242,1) 0%, rgba(190,211,242,1) 0%, rgba(207,196,244,1) 100%);
    position: absolute;
    left: 100px;
    top: 33px;
    background-color: #bed2f2;
}
@media only screen and (max-width: 430px) {
div img {
    width: 100%;
    }   
}
/*  */

/* Tablet */
@media only screen and (min-width: 900px) {
    nav ul {
        display: flex;
    }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
nav {
    padding: 24px 80px;
    justify-content: space-around;
}
nav h3 {
        display: none;
    }
nav img {
        width: 250px;
    }
.display-none {
    display: inline-flex;
}
nav ul {
    list-style: none;
    gap: 2rem;
    text-decoration: none;
}
nav li a {
    font-size: 22px;
    gap: 2rem;
    text-decoration: none;
    color: black;
    justify-content: space-between;
} 
nav li a:hover, button:hover {
    border: 0;
    border-radius: 12px;
    padding: 10px;
    background-color: rgb(245,247,250);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s;
}
button:hover {
    background-color: rgb(17, 36, 66);

}

nav button {
    padding: auto;
    margin: auto; 
    border: 0px;
    border-radius: 45px;
    background-color: rgb(37,108,225);
}

button a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: auto;
    margin: auto;
    cursor: pointer;
}
.left button {
    width: 13rem;
    height: 3.1rem;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(25,118,210);
    font-size: 14px;
    color: white;
    cursor: pointer;

}
section {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    flex-basis: auto;
    gap: 3em;
    padding: 22px 80px;
    align-items: center;
    justify-content: space-around;
}
.right img {
    width: 90%;
}
section .left {
    justify-content: left;
    text-align: left;
}
section .right {
    text-align: center;
    justify-content: right;
} 
h1 {
    font-size: 3.5rem;
    line-height: 1.3em;
}
p {
    font-size: 1.4rem;
    font-weight: lighter;
    color: rgb(124,124,124);
}
div button {
    width: 7.5rem;
    height: 3.5rem;
    font-size: 20px;

}
.blue {
    position: absolute;
    transform: scale(1.2);
    left: 48px;
    top: -60px;
}

.purple {
    position: absolute;
    left: 160px;
    top: 30px;
}

.green {
    position: absolute;
    transform: scale(1.2);
    left: 310px;
    top: 280px;
}
}